{% extends 'base.html' %}
{% load static %}

{% block content %}

 <nav class = 'nav-text'>

  <div class = "logo">
   <a href = https://github.com/AubFigz target = "_blank">
    <img src = "{% static 'img/icons/logo.png' %}" alt = "">
   </a>
  </div>
  <div class = "mini-logo">
   <a href = https://github.com/AubFigz target = "_blank">
    <img src = "{% static 'img/icons/logo.png' %}" alt = "">
   </a>
  </div>

  <ul>
   <li>
    <a href = "#1">
     <i class = "fa fa-home"></i>
     <em class = "nav-text">Home</em>
    </a>
   </li>
   <li>
    <a href = "#2">
     <i class = "fa fa-user"></i>
     <em class = "nav-text">About</em>
    </a>
   </li>
   <li>
    <a href = "#3">
     <i class = "fa fa-pencil"></i>
     <em class = "nav-text">Philosophy</em>
    </a>
   </li>
   <li>
    <a href = "#4">
     <i class = "fa fa-image"></i>
     <em class = "nav-text">Portfolio</em>
    </a>
   </li>
   <li>
    <a href = "#5">
     <i class = "fa fa-envelope"></i>
     <em class = "nav-text">Contact</em>
    </a>
   </li>
  </ul>

 </nav>

 <div class = "slides">
  <div class = "slide" id = "1">
   <div class = "content first-content">
    <div class = "container-fluid">

     <div class = "col-md-3">
      <div class = "author-image">
       <img src = "{% static 'img/author_image_au.png' %}" alt = "">
      </div>
     </div>

     <div class = "col-md-9 author-text">
      <h2>Aubrey D. Morales-Figueroa</h2>
      <p>
       As a dedicated professional with a solid academic background and practical experience in genetics and
       molecular biology, I am on the path to completing my
       <em>Master's in Data Science</em>
       , with a focus on
       Computational Biology and Bioinformatics, anticipated to graduate
       <em>magna cum laude</em>
       in August 2024. My
       academic journey has been marked by a deep engagement and exceptional performance across a wide
       range of subjects, such as Statistical Programming, Data Mining, Multivariate Data Analysis, Data
       Visualization, Data Storage Systems, and both Supervised and Unsupervised Machine Learning.
      </p>
      <p>
       This diverse and comprehensive skill set, augmented by my hands-on laboratory experience across
       various scientific disciplines, uniquely qualifies me for advanced roles in
       <em>Bioinformatics</em>
       ,
       <em>Data Science</em>
       ,
       and
       <em>Machine Learning</em>
       . My academic accomplishments and practical experiences reflect my unwavering
       commitment to contributing significantly to these dynamic fields. Through a blend of rigorous education
       and real-world application, I have honed my abilities to analyze complex datasets, derive insightful
       conclusions, and apply these findings to drive research and innovation forward.
      </p>

      <em style = 'color: green'>LINKS TO CODE SAMPLES -GITHUB:</em>
      <p></p>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/AubFigz/Image_Channel_Processing-51000_W4.git" target = "_blank"
           class = "white-on-hover text-decoration: none;">Image Channel Processing
        </a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px; color:whitesmoke;">The values from the ratio log-scaled array are assigned to the unused blue channel of result_image. With this, the differences in the fluorescence intensities are visually amplified.
         </li>
        </ul>
       </li>
      </ul>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/AubFigz/Gene-analysis-with-Neural-and-Support-Vector-Machine-models-55000_W7.git" target = "_blank"
           class = "white-on-hover text-decoration: none;">Gene Analysis
        </a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px;
         color:whitesmoke;">Gene analyses with Neural Network, and Support Vector Machine models.
         </li>
        </ul>
       </li>
      </ul>

      <ul style = 'margin-left: -3px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/AubFigz/Keras_Layered_Neural_Network-55000_Final.git" target = "_blank" class = "white-on-hover text-decoration: none;">Keras Layered Neural Network</a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px; color:whitesmoke;">Features layers, dropout, adagrad,
          regularizers, l2, and early stopping --alphabetical glyphs predictions.
         </li>
        </ul>
       </li>
      </ul>

      <ul style = 'margin-left: -3px; padding-bottom: 36px;'>
       <li style = "font-family: 'Open Sans', sans-serif; font-size: 13px;">
        <a href = "https://github.com/AubFigz/Biopython_Alignment_of_Histone_Domain-51000_W5.git" target = "_blank"
           class = "white-on-hover text-decoration: none;">Protein, RNA, DNA Alignment
        </a>
        <ul>
         <li style = "margin-left: 20px; margin-top: 9px; font-family: 'Open Sans', sans-serif; font-size: 11px;
         color:whitesmoke;">Aligns the molecules' atoms coordinates by superimposing them onto a reference coordinate set.
         </li>
        </ul>
       </li>
      </ul>

     </div>
    </div>
   </div>

  </div>

  <div class = "slide" id = "2">
   <div class = "content second-content">
    <div class = "container-fluid">
     <div class = "col-md-6">
      <div class = "left-content" id = "myTextContainer">
       <h2>It's All About Me</h2>

       <br>
       University of Florida Bachelor of Science (
       <em>B.S.</em>
       ), Genetics, 2015;
       <br>
       Lewis University Master of Science (
       <em>M.S.</em>
       ), Data Science with concentration in Bioinformatics and
       Computational Biology.
       <em>Magna Cum Laude</em>
       Honors - Graduation August 2024;
       <hr>
       <br>
       <em>Languages:</em>
       Python, R, SQL, SAS, MATLAB, Java;
       <br>
       <em>Development Environments:</em>
       Jupyter Notebooks, PyCharm;
       <br>
       <em>Libraries/Tools:</em>
       NumPy, Pandas, SciPy, Matplotlib, Seaborn, Biopython, Bioconductor, Plotly, Beautiful Soup,
       GenomeStudio, BLAST, BWA, Bowtie, SAMtools, UCSC Genome Browser, Ensembl, Docker,
       ScikitLearn, TensorFlow, Keras, PyTorch, FastAI;
       <br>
       <em>Data Management:</em>
       SQL, Hadoop, Data Mining, Cloud Computing Platforms (AWS, Google Cloud),
       Version Control (Git, GitHub);
       <br>
       <em>Concepts:</em>
       Object-Oriented Programming (OOP) principles and implementations;
       <hr>
       <br>
       <em>Focus Areas:</em>
       Machine Learning (ML), Artificial Intelligence (AI), Informatics, Pattern Recognition, Data Analysis,
       Predictive Modeling, Natural Language Processing (NLP), Reinforcement Learning, Neural Networks, Deep Learning,
       Analytics, Business Intelligence, Predictive Analytics, Computer Science, Microsoft Office, Google Docs, Google Colaboratory;
       <hr>
       <br>
       <em>Techniques and Technologies:</em>
       Feature Engineering, Model Training and Evaluation, Computer Vision (image and face
       recognition), Statistical Analysis & Modeling, Principal Component Analysis (PCA), Linear
       Discriminant Analysis (LDA), k-means Clustering, Hierarchical Clustering, Anomaly
       Detection, Time Series Analysis, Survival Analysis, Ensemble Methods (including
       Random Forests), Sequence Analysis, Gene Expression Analysis, Protein Structure Prediction,
       NGS Analysis (alignment, variant calling), Comparative Genomics,
       Molecular Biology, PCR, qRT-PCR, Human Genomics, Genetics, Genotyping, Illumina,
       Microarray, Next Generation Sequencing (NGS), Cell Culture, Virology, iPSCs,
       Macrophage/Microglia, Immunohistochemistry, Immunoassays, ELISA, Flow Cytometry,
       DNA/RNA Isolation, QC, Microscopy, Laboratory Management.

      </div>
     </div>
     <div class = "col-md-6">
      <div class = "right-image">
       <img src = "{% static 'img/about_image_au3.png' %}" alt = "" style = "margin-right: 6px;">
      </div>

     </div>
    </div>
   </div>

  </div>

  <div class = "slide" id = "3">
   <div class = "content third-content" style = 'overflow-x : hidden !important;'>
    <div class = "container-fluid">

     <div class = "first-section">
      <div class = "container-fluid">
       <div class = "row">
        <div class = "col-md-6">
         <div class = "left-content" style = 'padding-left: 9px;'>
          <h2>Software is an art</h2>
          <p>I believe that the beauty of software programs extends
           well beyond the objects one sees in the screens.
           Software code can, and should be created in beautiful,
           and elegant ways. Beauty is equal to truth.</p>
         </div>
        </div>
        <div class = "col-md-6">
         <div class = "right-image">
          <img src = "{% static 'img/first_service_au.png' %}" alt = "" style = "opacity: 0.54;">
         </div>

        </div>
       </div>
      </div>
     </div>

     <div class = "second-section" style = 'margin-top: 0px'>
      <div class = "container-fluid">
       <div class = "row">
        <div class = "col-md-6">
         <div class = "left-image">
          <img src = "{% static 'img/second_service_au.jpg' %}" alt = "" style = "opacity: 0.20; margin-top: 4px;">
         </div>
        </div>
        <div class = "col-md-6">
         <div class = "right-content" style = 'padding-left: 9px'>
          <h2>Software is a science</h2>
          <p style = 'padding-bottom: 1px;'>I always address computer programming as an engineering
           discipline. I take the time to design well before I
           write a single line of code.
           I use proven patterns that have been thoroughly validated
           through time. I test, and test, and test. My systems
           are as foolproof as humanly possible;
           my algorithms, as efficient as possible.</p>

         </div>
        </div>
       </div>
      </div>
     </div>

    </div>

   </div>
  </div>

  <div class = "slide" id = "4">
   <div class = "content fourth-content">
    <div class = "container-fluid">

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/01-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Lewis University</h2>
          <p>
           <em>M.S.</em>
           : Data Science
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/02-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>University of Florida</h2>
          <p>
           <em>B.S.</em>
           : Genetics
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/03-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>University of Miami Miller School of Medicine</h2>
          <p>Virology researcher</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/10-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>LIVEiTECH</h2>
          <p>Video analytics for security cameras, Keyless entry system with facial recognition</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/04-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>GenoSur</h2>
          <p>Molecular technologist</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/06-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Machine Learning</h2>
          <p>Machine Learning identifies alphabetic glyphs</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/08-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Neural Network / Support Vector Machine</h2>
          <p>Variance, loss, and confusion matrices.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/07-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Visualizing ACS PUMS Data</h2>
          <p>Statistics: languages, income, vehicles, property taxes/values</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/09-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Penguin Species</h2>
          <p>k-means, and differences in the mean values of anatomical features</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/05-portfolio.jpg' %}" alt = "">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>ChatGPT</h2>
          <p>Effective AI prompt engineering</p>
         </div>
        </div>
       </div>
      </div>
     </div>

    </div>
   </div>
  </div>

  <div class = "slide" id = "5">
   <div class = "content fifth-content">
    <div class = "container-fluid">
     <div class = "col-md-6">

      <form id = "ContactForm" action = "{% url 'contact' %}" method = "post" class = "bootstrap3" style = "margin-top: 50px">
       {% csrf_token %}

       <div class = "form-group row">
        <label for = "id_name" class = "col-sm-2 col-form-label" style = "color: green;">NAME</label>
        <div class = "col-sm-10">
         {{ form.name }}
        </div>
       </div>

       <div class = "form-group row">
        <label for = "id_email" class = "col-sm-2 col-form-label" style = "color: green;">EMAIL</label>
        <div class = "col-sm-10">
         {{ form.email }}
        </div>
       </div>

       <div class = "form-group row">
        <label for = "id_message" class = "col-sm-2 col-form-label" style = "color: green;">MESSAGE</label>
        <div class = "col-sm-10">
         {{ form.message }}
        </div>
       </div>

       <div class = "form-group row">
        <div class = "col-sm-12">

         <button type = "submit" id = "form-submit" class = "btn" style = "color: green; font-weight: bold;">SEND ME A MESSAGE</button>
         <p style = 'margin: 36px;'></p>
         <button type = "button" onclick = "downloadResumeAndShowMessage()" class = "btn" style = "color: green; font-weight: bold;">DOWNLOAD MY RESUME</button>

        </div>
       </div>

      </form>

     </div>
    </div>
   </div>
  </div>
 </div>

 <footer class = "scroll-footer">
  <p>4:15:12:43</p>
 </footer>

{% endblock %}
